
.container{
    background-image: url(../image/Group\ 2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: right;
}

.top{
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;

}

h2{
    margin-bottom: 0px;
}

.mid{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
}

label{
    margin-bottom: 10px;
}

input{
    width: 490px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    font-size: 25px;
}

button{
    width: 500px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: green;
}

a{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

a:hover{
    color: blue;
}

